html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
	overflow-x: hidden;
}

section,
footer,
header {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.cover {
	background-color: #57AFFE;
	width: 514px;
	height: 412px;
}

body {
	display: none;
	font-weight: 400;
	font-size: 12px;
	font-family: 'Montserrat';
}



a {
	cursor: pointer;
	outline-style: none;
	display: inline-block;
	text-decoration: none;
	color: #111;
}

.active-bg {
	background: #57A7FE !important;
	color: white;


}

.accordeon-item {
	svg {
		transform: rotate(0deg) !important;
	}



	path {
		fill: white !important;
	}
}

.pag-btn__active {
	color: white !important;
	background-color: #57A7FE;
}

.sec-title {

	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;

	color: #1F1F1F;
}

.bg-title {
	font-style: normal;
	font-weight: 800;
	font-size: 60px;
	line-height: 73px;
	text-align: center;
	color: white;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content {
	flex: 1 0 auto;
	background-color: #fff;
}

.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1200px;
	// padding: 0px 10px;
	margin: 0 auto;
}

.container-catalog {
	max-width: 1300px;
	// padding: 0px 10px;
	margin: 0 auto;
}

.container-fluid {
	max-width: 100%;
	margin: 0 auto;
}

.font-style {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;

}

.slick-list,
.draggable {
	padding: 0 !important;
}

input {
	outline-style: none;
}

.btn {
	background: linear-gradient(180deg, #57D4FE -31.63%, #5770FE 197.96%);
	border-radius: 50px;
	outline-style: none;
	border: none;
	cursor: pointer;
	color: #fff;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	transition: 0.3s all;
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
}

.btn:hover {
	background: #fff;
	color: #5770FE;
}

#number-adap {
	display: none;
}

.burger-active__menu {
	display: block !important;
}

.burger-list {
   
        width: 430px;
        max-width: 100%;
    
	z-index: 200;
	overflow: hidden;
	display: none;
	position: fixed;
	padding-top: 34px;

	padding-left: 15px;
	background-color: #F1F1F1;
	
	min-height: 100%;

	li {
		margin-bottom: 20px;

		a {
			font-size: 27px;
			transition: 0.3s all;
		}
	}

	a:hover {
		color: #57A7FE;
	}

	.burger-btn__popup {
		.btn {
			width: 185px;
			height: 53px;
		}
	}

	// .burger-widget {
	// 	display: inline;
	// }

	// .burger-search {
	// 	margin: 0 auto !important;
	// }
	// .burger-search {
	// 	width: 250px;
	// 	position: relative;
	// 	border-radius: 12.5px;
	// 	height: 90px;
	// 	.ipt {
	// 		border: 1px solid #d9dfe5;
	// 		position: absolute;
	// 		top: 22px;
	// 		border-radius: 24px;
	// 		padding-left: 25px;
	// 		height: 46px;
	// 		color: #000;
	// 		width: 240px;
	// 		font-size: 15px;
	// 		outline-style: none;
	// 		box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
	// 	}
	// 	.burger-item__search {
	// 		border: 0;
	// 		background-color: transparent;
	// 		outline-style: none;
	// 		cursor: pointer;
	// 		position: absolute;
	// 		top: 22px;
	// 		left: 72%;
	// 		background: linear-gradient(180deg, #57D4FE -31.63%, #5770FE 197.96%);
	// 		width: 60px;
	// 		border: none;
	// 		height: 46px;
	// 		border-radius: 23px;
	// 		transition: 0.3s all;
	// 		path {
	// 			fill: white;
	// 		}
	// 	}
	// 	.burger-item__search:hover {
	// 		background: transparent;

	// 		path {
	// 			fill: #5770FE;
	// 		}
	// 	}
	// }
	.burger-btn {
		display: block !important;
		width: 185px;
		height: 53px;
		margin: 0 auto;

		.btn {
			margin: 0;
		}

	}

	.burger-nav>ul {
		li {
			display: block !important;
		}
	}
}

.burger-menu {
	height: 30px;
	display: none;
}

.burger-item {

	transition: 0.2s all;
	margin-bottom: 4px;
	width: 35px;
	height: 5px;
	background-color: #B8B8B8;
}

.burger-menu:hover {
	.burger-item {
		background-color: #57BAFE;
	}
}

.burger-activ {
	.burger-item:first-child {
		transform: rotate(45deg) translate(13px);
	}

	.burger-item:nth-child(2) {
		opacity: 0;
	}

	.burger-item:last-child {
		transform: rotate(-45deg) translate(13px);
	}
}

.close {
	
	float: right;
	padding-right: 6.5px;
}

.close:hover {

	.close-item {
		background-color: #57BAFE;
	}
}

.close-item {
	transition: 0.3s all;
	margin-bottom: 4px;
	width: 35px;
	height: 5px;
	background-color: #B8B8B8;
}

.close-item:nth-child(1) {
	transform: rotate(45deg) translate(6px);
}

.close-item:nth-child(2) {
	transform: rotate(-45deg) translate(6px);
}